header {
    background: linear-gradient(45deg, #3C3B6E 50%, #B22234 50%);
}

header img {
    height: 3.5em;
}

main {
    background-color: #0F151B;
}

.container .card {
    background-color: #1C2632;
}

.dropdown img {
    height: 1.5em;
}

.container .card .table p {
    margin: 0;
    padding: 0;
    background-color: #1C2632;
}

table img {
    height: 1.5em;
    margin-right: 10px;
}

thead th, tbody td {
    padding-inline: 8px;
    padding-block: 5px;
}

td[colSpan="7"] {
    width: 100%;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #151B23;
}

.round button {
    background-color: transparent;
    border: none;
}

.info-teams {
    width: 27%;
}

.games img {
    height: 2.5em;
}

.score, .games input {
    font-size: 1.5rem;
}

.games input {
    background-color: #0F151B;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 35px;
    text-align: center;
    color: #fff;
}

.games input[type=number]::-webkit-inner-spin-button, 
.games input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
