header {
    background: linear-gradient(45deg, #009C3B 50%, #FFDF00 50%);
}

header img {
    height: 3.5em;
}

.background-dark {
    background-color: #0F151B;
}

.background-light {
    background-color: #EDF1F6;
}

.container .card-dark {
    background-color: #1C2632;
}

.container .card-light {
    background-color: #fff;
}

.dropdown img {
    height: 1.5em;
}

.hide-table {
    filter: blur(15px);
}

.container .card .table p {
    margin: 0;
    padding: 0;
    background-color: #1C2632;
}

table img {
    height: 1.5em;
    margin-right: 10px;
}

thead th, tbody td {
    padding-inline: 8px;
    padding-block: 5px;
}

td[colSpan="7"] {
    width: 100%;
}

tbody tr {
    cursor: pointer;
}

.card-dark tbody tr:hover {
    background-color: #151B23;
}

.card-light tbody tr:hover {
    background-color: #F2F4F7;
}

.color-libertadores {
    color: #3BB552;
}

.color-qualificacao {
    color: #80EA79;
}

.color-sulamericana {
    color: #288EEA;
}

.color-rebaixamento {
    color: #EF5158;
}

.info p {
    font-size: .7rem;
}

.info-table {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.libertadores {
    background-color: #3BB552;
}

.qualificacao {
    background-color: #80EA79;
}

.sulamericana {
    background-color: #288EEA;
}

.rebaixamento {
    background-color: #EF5158;
}

.highlighted-dark-row {
    background-color: rgba(67, 76, 100, 0.7);
}

.highlighted-light-row {
    background-color: rgba(230, 230, 255, 0.7);
}

.round button {
    background-color: transparent;
    border: none;
}

.info-teams {
    width: 27%;
}

.arrow-light {
    color: #d3e1f3;
}

.games img {
    height: 2.5em;
}

.score, .games input {
    font-size: 1.5rem;
}

.games input {
    border: none; 
    border-radius: 5px;
    width: 30px;
    height: 35px;
    text-align: center; 
}

.games-dark input {
    background-color: #0F151B;
    color: #fff;
}

.games-light input {
    background-color: #f0f0f0;
    color: #333;
}

.games input[type=number]::-webkit-inner-spin-button, 
.games input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

@media (min-width: 577px) {
    .info p {
        font-size: .9rem;
    }
}